.comment {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.comment-header {
  font-size: 15px;
  line-height: 15px;
  color: black
}

.blue {
  color: blue;
}

.comment-text {
  font-size: 12px;
  line-height: 12px;
  color: black
}

.score {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 12px;
}
